version: "3.8"
services:
  mlflow-server:
    image: python:3.10-slim
    build: .
    ports:
      - "5000:5000"
    environment:
      MLFLOW_TRACKING_URI: http://mlflow-server:5000
    command: mlflow server --host 0.0.0.0 --port 5000
    networks:
      - mynetwork

  app:
    build:
      context: .
    container_name: app
    depends_on:
      - mlflow-server
    volumes:
      - .:/app
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge